.contact{
    width: 100%;
    overflow: hidden;
}

#column1 button{
    border: none;
    color: white;
    background: black;
    border-radius: 30px;
}

#column3{
    display: none;
}

@media screen and (max-width: 1000px){
    #column1{
        width: 100% !important;
    }

    #column3 input{
        width: 70%;
    }

    #column3 button{
        width: 70% !important;
    }

    #column1 button{
        display: none;
    }

    #column2{
        display: none;
    }

    #column3{
        width: 100% !important;
        display: block;
    }
}