.home-page{
    display: flex;
    flex-direction: column;
}

.heading{
    display: flex;
    align-items: center;
}

.heading .hr{
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    width: 10vw;
    flex: 1;
}

h6 {
    margin: 0 10px; 
    color: #797878;
}

.head-business{
    display: flex;
    justify-content: center;
}

.head-business p{
    font-size: 50px;
    width: 60%;
    text-align: center;
}

.head-business span{
    font-weight: 600;
}

.home-img{
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.home-img .image{
    width: 20%;
}

.home-img .dot-img img{
    width: 70%;
}

.home-img .home-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-img p{
    width: 40%;
    text-align: center;
}

@media screen and (max-width: 767px){
    .head-business p{
        font-size: 40px;
        width: 80%;
    }

    .home-img p{
        width: 80%;
    }

    .home-p button{
        font-size: 12px;
        padding: .5rem 2rem;
    }
}

.home-p button{
    color: white;
    border: none;
    background: #AD000E;
    border-radius: 30px;
    padding: .5rem 4rem;
}