.gap-0{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.testimonial .test-name-desg{
    display: flex;
    flex-direction: column;
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 80%; /* Adjust the height as needed */
    transition: transform 0.3s ease-in-out;
}

/* .image-container:hover img {
    transform: scale(1.1);
} */

.image-container::after {
    content: '';
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(255, 0, 0, 0); /* Transparent red color */
    transition: background-color 0.3s ease-in-out;
}


.image-container:hover::after {
    background-color: rgb(190, 15, 15, 0.5); /* Semi-transparent red color */
}



#image-names {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
    .col-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}



.testimonial{
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.testimonial .test-col{
    display: flex;
}